<div class="headerContainer">
    <div class="logoContainer">
        <a routerLink="">
            <img src="WebsiteLogo.png" alt="websiteLogo">
        </a>
        <!-- <h3>ShopKart</h3> -->
    </div>
    <div class="searchContainer">
        <span><img src="HeaderBar\loupe.png" alt="searchicon" class="searchIcon"></span>
        <input type="search" name="searchItem" id="search" placeholder="Search for Products, Brands and More">
    </div>
    <div class="profileServicesContiner">
        <a routerLink="Profile" *ngIf="isLoggedIn ; else  NotLoggedIn">
            <img src="HeaderBar\user.png" alt="profileImg">
            <h4>My Profile</h4>
        </a>
        <ng-template #NotLoggedIn>
            <a routerLink="Login">
                <img src="HeaderBar\user.png" alt="profileImg">
                <h4>Log-In</h4>
            </a>
        </ng-template>
        <a routerLink="Cart">
            <img src="HeaderBar\cart.png" alt="CartIcon">
            <label for="cart">Cart</label>
        </a>
    </div>
</div>